[Desktop Entry]
Name=Claude Code
Type=Application
Exec=cosmic-applet-claude
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Claude;AI;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=dev.m4ul3r.CosmicAppletClaude-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
